 #  A Whale off the Port(folio)
 ---

 In this assignment, you'll get to use what you've learned this week to evaluate the performance among various algorithmic, hedge, and mutual fund portfolios and compare them against the S&P 500 Index.

In [105]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
#from pathlib import Path

%matplotlib inline

# Data Cleaning

In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp500_history.csv`: Contains historical closing prices of the S&P 500 Index.

## Whale Returns

Read the Whale Portfolio daily returns and clean the data

In [113]:
# Reading whale returns, format and index by Date, drop duplicates, drop null
whale_return = pd.read_csv('./Resources/whale_returns.csv').drop_duplicates().dropna()
whale_return.head()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
1,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2,2015-03-04,0.002230,0.003241,-0.002534,0.004213
3,2015-03-05,0.004016,0.004076,0.002355,0.006726
4,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
5,2015-03-09,0.000582,0.004225,0.005843,-0.001652

In [92]:
# Count nulls
whale_return.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
dtype: int64

In [88]:
# Drop nulls
#whale_return = whale_return.dropna()

## Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data

In [114]:
# Reading algorithmic returns, format and index by Date, drop duplicates, drop null
algo_return = pd.read_csv('./Resources/algo_returns.csv', parse_dates=True, index_col='Date', infer_datetime_format=True).drop_duplicates().dropna()
algo_return.head()

          Date    Algo 1    Algo 2
6   2014-06-05  0.004062  0.013285
7   2014-06-06  0.001857  0.008284
8   2014-06-09 -0.005012  0.005668
9   2014-06-10  0.004406 -0.000735
10  2014-06-11  0.004760 -0.003761

In [32]:
# Count nulls
algo_return.isnull().sum()

In [33]:
# Drop nulls
#algo_return.dropna()

## S&P 500 Returns

Read the S&P 500 historic closing prices and create a new daily returns DataFrame from the data.

In [115]:
# Reading S&P 500 Closing Prices, format and index by Date, drop duplicates. drop null
sp500_history = pd.read_csv('./Resources/sp500_history.csv', parse_dates=True, index_col='Date', infer_datetime_format=True).drop_duplicates().dropna()
# remove '$' from Close column
sp500_history['Close'] = sp500_history['Close'].str.replace('$', '')
sp500_history.head()

/var/folders/8l/w12pjc8j3j14ktkg34f88ltw0000gn/T/ipykernel_26285/2985381564.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  sp500_history['Close'] = sp500_history['Close'].str.replace('$', '')

              Close
Date
2019-04-23  2933.68
2019-04-22  2907.97
2019-04-18  2905.03
2019-04-17  2900.45
2019-04-16  2907.06

In [110]:
# Check Data Types
sp500_history.dtypes

Date     object
Close    object
dtype: object

In [116]:
# Fix Data Types
sp500_history = sp500_history.astype({'Close':float})
sp500_history.head()

              Close
Date
2019-04-23  2933.68
2019-04-22  2907.97
2019-04-18  2905.03
2019-04-17  2900.45
2019-04-16  2907.06

In [128]:
# Calculate Daily Returns
sp500_history['Close'].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of Date
2019-04-23    2933.68
2019-04-22    2907.97
2019-04-18    2905.03
2019-04-17    2900.45
2019-04-16    2907.06
               ...
2012-10-05    1460.93
2012-10-04    1461.40
2012-10-03    1450.99
2012-10-02    1445.75
2012-10-01    1444.49
Name: Close, Length: 1639, dtype: float64>

In [38]:
# Drop nulls
#sp500_history.dropna()

In [39]:
# Rename `Close` Column to be specific to this portfolio.

## Combine Whale, Algorithmic, and S&P 500 Returns

In [40]:
# Join Whale Returns, Algorithmic Returns, and the S&P 500 Returns into a single DataFrame with columns for each portfolio's returns.

---

# Conduct Quantitative Analysis

In this section, you will calculate and visualize performance and risk metrics for the portfolios.

## Performance Anlysis

#### Calculate and Plot the daily returns.

In [41]:
# Plot daily returns of all portfolios

#### Calculate and Plot cumulative returns.

In [42]:
# Calculate cumulative returns of all portfolios

# Plot cumulative returns

---

## Risk Analysis

Determine the _risk_ of each portfolio:

1. Create a box plot for each portfolio. 
2. Calculate the standard deviation for all portfolios
4. Determine which portfolios are riskier than the S&P 500
5. Calculate the Annualized Standard Deviation

### Create a box plot for each portfolio

In [43]:
# Box plot to visually show risk

### Calculate Standard Deviations

In [44]:
# Calculate the daily standard deviations of all portfolios

### Determine which portfolios are riskier than the S&P 500

In [45]:
# Calculate  the daily standard deviation of S&P 500

# Determine which portfolios are riskier than the S&P 500

### Calculate the Annualized Standard Deviation

In [46]:
# Calculate the annualized standard deviation (252 trading days)

---

## Rolling Statistics

Risk changes over time. Analyze the rolling statistics for Risk and Beta. 

1. Calculate and plot the rolling standard deviation for all portfolios using a 21-day window
2. Calculate the correlation between each stock to determine which portfolios may mimick the S&P 500
3. Choose one portfolio, then calculate and plot the 60-day rolling beta between it and the S&P 500

### Calculate and plot rolling `std` for all portfolios with 21-day window

In [47]:
# Calculate the rolling standard deviation for all portfolios using a 21-day window

# Plot the rolling standard deviation

### Calculate and plot the correlation

In [48]:
# Calculate the correlation

# Display de correlation matrix

### Calculate and Plot Beta for a chosen portfolio and the S&P 500

In [49]:
# Calculate covariance of a single portfolio

# Calculate variance of S&P 500

# Computing beta

# Plot beta trend

## Rolling Statistics Challenge: Exponentially Weighted Average 

An alternative way to calculate a rolling window is to take the exponentially weighted moving average. This is like a moving window average, but it assigns greater importance to more recent observations. Try calculating the [`ewm`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html) with a 21-day half life for each portfolio, using standard deviation (`std`) as the metric of interest.

In [50]:
# Use `ewm` to calculate the rolling window

---

# Sharpe Ratios
In reality, investment managers and thier institutional investors look at the ratio of return-to-risk, and not just returns alone. After all, if you could invest in one of two portfolios, and each offered the same 10% return, yet one offered lower risk, you'd take that one, right?

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [51]:
# Annualized Sharpe Ratios

In [52]:
# Visualize the sharpe ratios as a bar plot

### Determine whether the algorithmic strategies outperform both the market (S&P 500) and the whales portfolios.

Write your answer here!

---

# Create Custom Portfolio

In this section, you will build your own portfolio of stocks, calculate the returns, and compare the results to the Whale Portfolios and the S&P 500. 

1. Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.
2. Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock
3. Join your portfolio returns to the DataFrame that contains all of the portfolio returns
4. Re-run the performance and risk analysis with your portfolio to see how it compares to the others
5. Include correlation analysis to determine which stocks (if any) are correlated

## Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.

In [53]:
# Reading data from 1st stock

In [54]:
# Reading data from 2nd stock

In [55]:
# Reading data from 3rd stock

In [56]:
# Combine all stocks in a single DataFrame

In [57]:
# Reset Date index

In [58]:
# Reorganize portfolio data by having a column per symbol

In [59]:
# Calculate daily returns

# Drop NAs

# Display sample data

## Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock

In [60]:
# Set weights
weights = [1/3, 1/3, 1/3]

# Calculate portfolio return

# Display sample data

## Join your portfolio returns to the DataFrame that contains all of the portfolio returns

In [61]:
# Join your returns DataFrame to the original returns DataFrame

In [62]:
# Only compare dates where return data exists for all the stocks (drop NaNs)

## Re-run the risk analysis with your portfolio to see how it compares to the others

### Calculate the Annualized Standard Deviation

In [63]:
# Calculate the annualized `std`

### Calculate and plot rolling `std` with 21-day window

In [64]:
# Calculate rolling standard deviation

# Plot rolling standard deviation

### Calculate and plot the correlation

In [65]:
# Calculate and plot the correlation

### Calculate and Plot Rolling 60-day Beta for Your Portfolio compared to the S&P 500

In [66]:
# Calculate and plot Beta

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [67]:
# Calculate Annualized Sharpe Ratios

In [68]:
# Visualize the sharpe ratios as a bar plot

### How does your portfolio do?

Write your answer here!