# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [69]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [70]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

query = """SELECT tran_id, date_, amount, cardholder_id 
FROM transact 
NATURAL JOIN credit_card"""
transact = pd.read_sql(query,engine)
transact

      tran_id               date_  amount  cardholder_id
0         222 2018-01-01 21:35:10    6.22             13
1        2045 2018-01-01 21:43:12    3.83             13
2         395 2018-01-01 22:41:21    9.61             10
3        3309 2018-01-01 23:13:30   19.03              4
4         567 2018-01-01 23:15:10    2.95             18
...       ...                 ...     ...            ...
3495     1979 2018-12-31 01:24:15    4.84             15
3496     2342 2018-12-31 03:33:28    3.26             10
3497      948 2018-12-31 05:53:58   10.73             19
3498     1168 2018-12-31 08:22:17   11.87             23
3499     2476 2018-12-31 09:50:25   19.75             15

[3500 rows x 4 columns]

In [71]:
# Write function that locates outliers using standard deviation
def std_outlier(amount):
    mean = (amount - transact.amount.mean())
    std = 2 * transact.amount.std()
    if mean <= std:
        return False
    return True

transact['std_outlier'] = transact.amount.apply(std_outlier)
transact.head()

   tran_id               date_  amount  cardholder_id  std_outlier
0      222 2018-01-01 21:35:10    6.22             13        False
1     2045 2018-01-01 21:43:12    3.83             13        False
2      395 2018-01-01 22:41:21    9.61             10        False
3     3309 2018-01-01 23:13:30   19.03              4        False
4      567 2018-01-01 23:15:10    2.95             18        False

In [72]:
# Find anomalous transactions for 3 random card holders
transact[transact.std_outlier == True].drop_duplicates(subset='cardholder_id').sample(3)

     tran_id               date_  amount  cardholder_id  std_outlier
575     1005 2018-03-01 21:29:05  1119.0              3         True
797     1821 2018-03-20 13:05:54  1011.0             24         True
235     2913 2018-01-24 13:17:19  1691.0              1         True

## Identifying Outliers Using Interquartile Range

In [75]:
# Write a function that locates outliers using interquartile range
def inter_outlier(amount):
    inter_75 = transact.amount.quantile(.75)
    inter_25 = transact.amount.quantile(.25)
    diff = inter_75 - inter_25
    if inter_25 - 1.5 * diff > amount or amount > inter_75 + 1.5 * diff:
        return True
    return False

transact['inter_outlier'] = transact.amount.apply(inter_outlier)
transact.head()

,tran_id,date_,amount,cardholder_id,std_outlier,inter_outlier
0,222,2018-01-01 21:35:10,6.22,13,False,False
1,2045,2018-01-01 21:43:12,3.83,13,False,False
2,395,2018-01-01 22:41:21,9.61,10,False,False
3,3309,2018-01-01 23:13:30,19.03,4,False,False
4,567,2018-01-01 23:15:10,2.95,18,False,False

In [76]:
# Find anomalous transactions for 3 random card holders
transact[transact.inter_outlier == True].drop_duplicates(subset='cardholder_id').sample(3)

,tran_id,date_,amount,cardholder_id,std_outlier,inter_outlier
62,1291,2018-01-08 02:34:32,1029.0,6,True,True
53,3457,2018-01-07 01:10:54,175.0,18,False,True
27,2650,2018-01-04 03:05:18,1685.0,7,True,True